>A/Guelph/1001/2020|2001-01-01|HA|
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
aaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggttttaaaaccccggggtttt
>A/Guelph/1001/2020|2001-01-01|NA|
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
ttttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaattttggggccccaaaa
>A/Waterloo/1000/2020|2002-01-01|HA|
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
aaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggttaaccggtt
>A/Waterloo/1000/2020|2002-01-01|NA|
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
ttggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaattggccaa
>A/Waterloo/1000/2020|2002-01-01|MP|
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
catggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatggcatgg
